* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chartDiv {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
.listContainer {
  list-style-type: none;
}

.CardDiv {
  margin: 2rem;
}
.mainCard {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 grey;
  text-align: center;
  border: none;
  border-radius: 10px;
  max-width: 17rem;
  min-width: 17rem;
}
.cardHeader {
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
  align-items: center;
}
.cardHeader > h4 {
  font-size: 12px;
}
.cardHeader > p {
  font-size: 16px;
  font-weight: bold;
}

.cardData {
  margin-top: 3rem;
}
.salesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.salesDiv {
  font-size: 8px;
  font-weight: bold;
}
.statusTrack {
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: orange;
  background: rgba(243, 101, 101, 0.494);
}
.completestate {
  width: 60%;
  height: 10px;
}
